/*
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografia
4. Visuales
5. Otros
*/

:root {
    /*Colores*/
    --white: #f4f4f2;
    --secondary-blue: #007fff;
    --principal-blue: #0034c4;
    --grey:  #848775;
    --orange-red:  #FF4500;
    --light-orange:  #FFDEAD;
    --very-light-orange:  #FDF5E6;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    width: unset;
    font-size: 62.5%;
    font-family: 'Kanit', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    width: 100%;
    height: 44px;
    border: 1px inset var(--grey);
    font-size: 1.2rem;
    text-align: center;
    background-color: #0034c4;
    background-image: linear-gradient(90deg, #0034c4 0%, #007fff 19%, #cdcdcd 39%, #fdf5e6 60%, #ffdead 80%, #ff4500 100%);

}
header h1 {
   
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}
header p {
    margin-top: -11px;
    margin-bottom: -10px;
}
.intro-header__cold {
    width: 40px;
    height: 40px;
}
.intro-header__hot {
    width: 40px;
}
.main-container img {
    width: 100%;
}
.main-aside__coldcontainer {
    height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -4px;
    font-size: 1.2rem;
    font-weight: 300;
    background-color: rgb(202, 221, 228);
    /*background-color: #ffffff;
    background-image: linear-gradient(90deg, #ffffff 0%, #8BC6EC 50%, #9599E2 100%);*/

}
.main-aside__coldcontainer img {
    width: 32px;
    height: 32px;
}
.main-aside__coldcontainer:hover {
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #ffffff 0%, #8BC6EC 50%, #9599E2 100%)
}
.main-aside__coldcontainer h2 {
    margin-left: 10px;
}
.main-aside__coldcontainer p {
    font-weight: normal;
    margin-left: 10px;
}
.main-aside__hotcontainer {
    height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 300;
    background-color: rgb(202, 221, 228) ;
    /*background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);*/
}
.main-aside__hotcontainer:hover {
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%)
}
.main-aside__hotcontainer p {
    margin-left: 24px;
    font-weight: normal;
}
.main-aside__hotcontainer h2 {
    margin-left: 10px; 
}
.main-aside__container img {
    width: 32px;
    height: 32px;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
    background-color: rgb(202, 221, 228);
}
footer img {
    margin-left: 10px;
    width: 32px;
    height: 32px;
    
}
.footer-container_whatsapp {
    width: 300px;
    text-align: center;
    background-color: #8BC6EC;
}
.footer-container_whatsapp:hover {
    border: 5px solid #D6EAF8;
    background-color:#D6DBDF ;
}
.footer-whatsapp_button {
        background: none;
        font-family: 'Kanit';
        text-align: center;
        border: none;
}
.footer-container_ubicacion {
    width: 300px;
    text-align: center;
    background-color: #8BC6EC;
}
.footer-container_ubicacion:hover {
    border: 5px solid #D6EAF8;
    background-color: #D6DBDF;
}
@media (min-width: 640px) {
    .main-container img {
        display: none;
    }
}